html {
  height: 100%;
}
body {
		color: red;
  font-family: "Raleway", sans-serif;
  background-color: white;
  height: 100%;
  padding: 15px;
  background-color: white;
  display: grid;
  align-content: background-image;
  
}
form {
  z-index: 100;
}
.screen {
  top: 0px;
  left: 0px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  position: absolute;
  backdrop-filter: saturate(180%) blur(20 px);
  background-color: rgba(255, 255, 255, 0.42);
  z-index: 1;
}
.module {
  background-color: white;
  top: 0px;
  left: 0px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: grid;
  color: #ff43ea;
  position: absolute;
  z-index: -1;
}
.module::before {
  background-color: white;
  content: "";
  top: 10px;
  left: 10px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-image: url("https://images.unsplash.com/photo-1635510239284-6f61d19c85f9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}
.module-inside {
  position: relative;
  font: bold 42px sans-serif;
  